body {
            background-image: url("/2632717_8733.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            margin: 100vh;
            height: 90vh; /* Ajusta la altura según tus necesidades */
        }